html, body {
  -webkit-user-select: none;
  cursor:default;
  font-family: helvetica;
}
.program img {
  margin:0 auto;
  display:block
}
.program .logoContainer {
  height:120px;
}
.program {
  padding: 5px 1px;
  margin: 3px 5px ;
  float:left;
  height:160px;
}
.clear {
  clear:both
}
.info div {
  margin:0 0 5px 0;
}